.estrutura-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

        &.container01{
            background-image: url('../pages/home/img/01.jpg');
        }

        &.container02{
            background-image: url('../pages/home/img/02.jpg');
        }
        
        &.container03{
            background-image: url('../pages/home/img/03.gif');
        }
        
        &.container04{
            background-image: url('../pages/home/img/04.jpg');
        }
}



.titlePadding{
    padding-top: 200px;
    color: $white-color;
    
    

    .btn{
        padding: 15px 35px;
        border: 2px solid $white-color;
    }
}


.container-subtitle{
    width: 60%;
}

// Responsividade

@media (max-width: 750px) {

    .titlePadding {
      padding-top: 120px;
      max-width: 700px;
    }
  
  
    .container-subtitle {
      width: 50%;
      font-size: 25px;
    }
  
  
    .container-title {
      width: auto;
      font-size: 16px;
      font-weight: 300;
    }

} ;