
.falcon-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    &.falcon9{
        background-image: url(../pages/falcon-9/img/01.jpg);
    }

    &.falcon-dados{
        background-image: url(../pages/falcon-9/img/02.jpg);
    }

    &.merlin{
        background-image: url(../pages/falcon-9/img/08.jpg);
    }

    &.carousel-container{
        background-image: url(../pages/falcon-9/img/03.jpg);
    }

    &.carousel-container02{
        background-image: url(../pages/falcon-9/img/04.jpg);
    }

    &.carousel-container03{
        background-image: url(../pages/falcon-9/img/05.jpg);
    }

    &.carousel-container04{
        background-image: url(../pages/falcon-9/img/06.jpg);
    }

    &.carousel-container05{
        background-image: url(../pages/falcon-9/img/07.jpg);
    }
}

.falcon9-content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        h1 {
            font-size: 120px;
            filter: drop-shadow(2px 4px 6px $black-color);
        }

        p {
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: 30px;
            font-weight: 300;
            filter: drop-shadow(2px 4px 6px $black-color);
          }
}

.subTitleOverView{
    padding-bottom: 15px;
}

.titleOverView{
    padding-bottom: 20px;
}

.falcon-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    background-color: $black-color;

    .colNumber{
        font-size: 90px;
    }

    .colTitle{
        font-size: 20px;
    }
}

.falcon-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

    p{
        font-size: 22px;
        width: 640px;
        line-height: 50px;
    }
}

.table-container{
    width: 500px;
    margin-left: 13%;
    padding-top: 15%;

    
    td{
        color: $white-color;
        border-bottom: 1px solid $white-color;
    }

    .td-table-right{
        text-align: end;
    }

}



.carousel-pictures{
    img{
        height: 100vh;
    }

    p{
        background-color: black;
    }
}

// RESPONSIVIDADE

@media (max-width: 1024px) {
    .falcon-data {
      p {
        font-size: 18px;
      }
    }
    .falcon-desc {
      font-size: 26px;
    }
    
    .table-container {
      display: block;
      width: 500px;
      margin-left: 13%;
      padding-top: 20%;
    }
  }

  @media (max-width: 778px) {
    .falcon9-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 80vh;
    
        h1 {
        font-size: 50px;
        }

        p {
          font-size: 20px;
        }
    }

    .falcon-data {
      .colNumber {
        font-size: 45px;
        padding-top: 15px;
      }

      .colTitle {
        font-size: 18px;
      }
    }

    .falcon-description {
      p {
        width: auto;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .table-container {
      display: flex;
      height: 90vh;
      flex-direction: column;
      justify-content: center;
      width: auto;
      margin-left: auto;
    }
    .titleOverView {
      font-size: 28px;
      font-weight: bold;
    }
    .subTitleOvewView {
      font-size: 22px;
      font-weight: 300;
    }
  }

  @media (max-width: 510px) {
    .download-content {
      button {
        margin: 10px 0px;
      }
    }
  }

  @media (max-width: 425px) {
    .falcon9-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 80vh;
    
        h1 {
        font-size: 50px;
        }

        p {
          font-size: 16px;
        }
    }

    .falcon-data {
      .colNumber {
        font-size: 40px;
        padding-top: 15px;
      }

      .colTitle {
        font-size: 14px;
      }
    }

    .falcon-description {
      p {
        width: auto;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .table-container {
      display: flex;
      height: 90vh;
      flex-direction: column;
      justify-content: center;
      width: auto;
      margin-left: auto;
    }
    .titleOverView {
      font-size: 26px;
      font-weight: bold;
    }
    .subTitleOvewView {
      font-size: 20px;
      font-weight: 300;
    }
  }
