body {
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

.header {
  font-size: 14px;
  font-weight: bold;
  filter: drop-shadow(2px 4px 6px #000000);
}

.logoPc {
  width: 240px;
}

@media (max-width: 405px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 120px;
    margin-top: 15px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  background-color: #000000;
}
.footer span {
  color: #555252;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  color: #b9b9b9;
}

@media (max-width: 405px) {
  .footer {
    font-size: 10px;
  }
}
.estrutura-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.estrutura-container.container01 {
  background-image: url("../pages/home/img/01.jpg");
}
.estrutura-container.container02 {
  background-image: url("../pages/home/img/02.jpg");
}
.estrutura-container.container03 {
  background-image: url("../pages/home/img/03.gif");
}
.estrutura-container.container04 {
  background-image: url("../pages/home/img/04.jpg");
}

.titlePadding {
  padding-top: 200px;
  color: #FFFFFF;
}
.titlePadding .btn {
  padding: 15px 35px;
  border: 2px solid #FFFFFF;
}

.container-subtitle {
  width: 60%;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
    max-width: 700px;
  }
  .container-subtitle {
    width: 50%;
    font-size: 25px;
  }
  .container-title {
    width: auto;
    font-size: 16px;
    font-weight: 300;
  }
}
.falcon-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.falcon-container.falcon9 {
  background-image: url(../pages/falcon-9/img/01.jpg);
}
.falcon-container.falcon-dados {
  background-image: url(../pages/falcon-9/img/02.jpg);
}
.falcon-container.merlin {
  background-image: url(../pages/falcon-9/img/08.jpg);
}
.falcon-container.carousel-container {
  background-image: url(../pages/falcon-9/img/03.jpg);
}
.falcon-container.carousel-container02 {
  background-image: url(../pages/falcon-9/img/04.jpg);
}
.falcon-container.carousel-container03 {
  background-image: url(../pages/falcon-9/img/05.jpg);
}
.falcon-container.carousel-container04 {
  background-image: url(../pages/falcon-9/img/06.jpg);
}
.falcon-container.carousel-container05 {
  background-image: url(../pages/falcon-9/img/07.jpg);
}

.falcon9-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.falcon9-content h1 {
  font-size: 120px;
  filter: drop-shadow(2px 4px 6px #000000);
}
.falcon9-content p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
  filter: drop-shadow(2px 4px 6px #000000);
}

.subTitleOverView {
  padding-bottom: 15px;
}

.titleOverView {
  padding-bottom: 20px;
}

.falcon-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-color: #000000;
}
.falcon-data .colNumber {
  font-size: 90px;
}
.falcon-data .colTitle {
  font-size: 20px;
}

.falcon-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.falcon-description p {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.table-container {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}
.table-container td {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.table-container .td-table-right {
  text-align: end;
}

.carousel-pictures img {
  height: 100vh;
}
.carousel-pictures p {
  background-color: black;
}

@media (max-width: 1024px) {
  .falcon-data p {
    font-size: 18px;
  }
  .falcon-desc {
    font-size: 26px;
  }
  .table-container {
    display: block;
    width: 500px;
    margin-left: 13%;
    padding-top: 20%;
  }
}
@media (max-width: 778px) {
  .falcon9-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .falcon9-content h1 {
    font-size: 50px;
  }
  .falcon9-content p {
    font-size: 20px;
  }
  .falcon-data .colNumber {
    font-size: 45px;
    padding-top: 15px;
  }
  .falcon-data .colTitle {
    font-size: 18px;
  }
  .falcon-description p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  .table-container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 28px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 22px;
    font-weight: 300;
  }
}
@media (max-width: 510px) {
  .download-content button {
    margin: 10px 0px;
  }
}
@media (max-width: 425px) {
  .falcon9-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .falcon9-content h1 {
    font-size: 50px;
  }
  .falcon9-content p {
    font-size: 16px;
  }
  .falcon-data .colNumber {
    font-size: 40px;
    padding-top: 15px;
  }
  .falcon-data .colTitle {
    font-size: 14px;
  }
  .falcon-description p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  .table-container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
}
.human-space-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.human-space-container.container05 {
  background-image: url("../pages/human-space/img/01.jpg");
}
.human-space-container.container06 {
  background-image: url("../pages/human-space/img/02.jpg");
}
.human-space-container.container07 {
  background-image: url("../pages/human-space/img/03.jpg");
}
.human-space-container.container08 {
  background-image: url("../pages/human-space/img/04.jpg");
}
.human-space-container.container09 {
  background-image: url("../pages/human-space/img/05.jpg");
}
.human-space-container button {
  padding: 15px 35px;
}

.container05-content {
  margin-bottom: -23px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container05-content h1 {
  font-size: 120px;
  filter: drop-shadow(2px 4px 6px #000000);
}
.container05-content p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
  filter: drop-shadow(2px 4px 6px #000000);
}

.earth-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.earth-container p {
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  width: 800px;
}
.earth-container a {
  color: #FFFFFF;
  font-weight: 600;
}

.download-content {
  height: 85vh;
  padding-top: 200px;
  background-color: #000000;
}
.download-content a {
  color: #FFFFFF;
  font-weight: 600;
}

.right-container {
  margin-left: 55%;
  padding-top: 15%;
}

.left-container {
  margin-left: 5%;
  padding-top: 15%;
}

.mission-title, .hs-container-subtitle {
  font-weight: 300;
}

.hs-container-title {
  font-size: 60px;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .container05-content h1 {
    font-size: 100px;
    text-align: center;
  }
  .container05-content p {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 300;
  }
  .right-container {
    margin-left: 50%;
    padding-top: 20%;
  }
  .hs-container-title {
    font-size: 50px;
    font-weight: bold;
  }
  .hs-container-subtitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
  .left-container {
    margin-left: 5%;
    padding-top: 20%;
  }
}
@media (max-width: 749px) {
  .container05-content h1 {
    font-size: 60px;
  }
  .container05-content p {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .container05-content h1 {
    font-size: 40px;
  }
  .container05-content p {
    font-size: 16px;
  }
  .earth-container {
    height: 30vh;
  }
  .earth-container p {
    color: #d8d8d8;
    font-weight: 400;
    font-size: 14px;
    width: 300px;
  }
  .right-container {
    margin-left: 24%;
    padding-top: 40%;
  }
  .hs-container-title {
    font-size: 50px;
    font-weight: bold;
  }
  .hs-container-subtitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
  .left-container {
    margin-left: 7%;
    padding-top: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
