body {
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
}

.header {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  background-color: #000000;
}
.footer span {
  color: #555252;
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  color: #b9b9b9;
}

.estrutura-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.estrutura-container.container01 {
  background-image: url("../pages/home/img/01.jpg");
}
.estrutura-container.container02 {
  background-image: url("../pages/home/img/02.jpg");
}
.estrutura-container.container03 {
  background-image: url("../pages/home/img/03.gif");
}
.estrutura-container.container04 {
  background-image: url("../pages/home/img/04.jpg");
}

.titlePadding {
  padding-top: 200px;
  color: #FFFFFF;
}
.titlePadding .btn {
  padding: 15px 35px;
}

.container-subtitle {
  width: 60%;
}

.falcon-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.falcon-container.falcon9 {
  background-image: url(../pages/falcon-9/img/01.jpg);
}
.falcon-container.falcon-dados {
  background-image: url(../pages/falcon-9/img/02.jpg);
}
.falcon-container.merlin {
  background-image: url(../pages/falcon-9/img/08.jpg);
}
.falcon-container.carousel-container {
  background-image: url(../pages/falcon-9/img/03.jpg);
}
.falcon-container.carousel-container02 {
  background-image: url(../pages/falcon-9/img/04.jpg);
}
.falcon-container.carousel-container03 {
  background-image: url(../pages/falcon-9/img/05.jpg);
}
.falcon-container.carousel-container04 {
  background-image: url(../pages/falcon-9/img/06.jpg);
}
.falcon-container.carousel-container05 {
  background-image: url(../pages/falcon-9/img/07.jpg);
}

.falcon9-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.falcon9-content h1 {
  font-size: 120px;
}
.falcon9-content p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}

.falcon-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-color: #000000;
}
.falcon-data .colNumber {
  font-size: 90px;
}
.falcon-data .colTitle {
  font-size: 20px;
}

.falcon-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.falcon-description p {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
}

.human-space-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.human-space-container.container05 {
  background-image: url("../pages/human-space-flight/img/01.jpg");
}
.human-space-container.container06 {
  background-image: url("../pages/human-space-flight/img/02.jpg");
}
.human-space-container.container07 {
  background-image: url("../pages/human-space-flight/img/03.jpg");
}
.human-space-container.container08 {
  background-image: url("../pages/human-space-flight/img/04.jpg");
}
.human-space-container.container09 {
  background-image: url("../pages/human-space-flight/img/05.jpg");
}
.human-space-container button {
  padding: 15px 35px;
}

.container05-content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container05-content h1 {
  font-size: 120px;
}
.container05-content p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}

.earth-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.earth-container p {
  font-weight: 400;
  font-size: 18px;
  width: 800px;
}

.download-content {
  height: 85vh;
  padding-top: 200px;
  background-color: #000000;
}

.right-container {
  margin-left: 55%;
  padding-top: 15%;
}

.left-container {
  margin-left: 5%;
  padding-top: 15%;
}

.mission-title, .hs-container-subtitle {
  font-weight: 300;
}

.hs-container-title {
  font-size: 60px;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
