
.human-space-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

        &.container05{
            background-image: url('../pages/human-space/img/01.jpg');
        }

        &.container06{
            background-image: url('../pages/human-space/img/02.jpg');
        }
        
        &.container07{
            background-image: url('../pages/human-space/img/03.jpg');
        }
        
        &.container08{
            background-image: url('../pages/human-space/img/04.jpg');
        }

        &.container09{
            background-image: url('../pages/human-space/img/05.jpg');
        }

        button{
            padding: 15px 35px;
        }
}

.container05-content{
    margin-bottom: -23px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        h1 {
            font-size: 120px;
            filter: drop-shadow(2px 4px 6px $black-color);
        };
    
        p {
          margin-top: 20px;
          margin-bottom: 50px;
          font-size: 30px;
          font-weight: 300;
          filter: drop-shadow(2px 4px 6px $black-color);
        }
}

.earth-container{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black-color;

    p{
        font-weight: 400;
        line-height: 25px;
        font-size: 18px;
        width: 800px;
    }

    a{
      color: $white-color;
      font-weight: 600;
    }
}

.download-content{
    height: 85vh;
    padding-top: 200px;
    background-color: $black-color;

    a{
      color: $white-color;
      font-weight: 600;
    }
}

.right-container{
    margin-left: 55%;
    padding-top: 15%;
}

.left-container{
    margin-left: 5%;
    padding-top: 15%;
}

.mission-title, .hs-container-subtitle{
    font-weight: 300;
}

.hs-container-title{
    font-size: 60px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .container05-content {
      h1 {
        font-size: 100px;
        text-align: center;
      }
  
      p {
        margin: 20px 0px;
        font-size: 30px;
        font-weight: 300; 
      }

    }

    .right-container {
      margin-left: 50%;
      padding-top: 20%;
    }
  
    .hs-container-title {
      font-size: 50px;
      font-weight: bold;
    }
  
    .hs-container-subtitle {
      font-weight: 300;
      margin-bottom: 40px;
    }
  
    .left-container {
      margin-left: 5%;
      padding-top: 20%;
    }
}

@media (max-width: 749px){
  .container05-content{
        h1 {
            font-size: 60px;
        };
    
      p {
        font-size: 20px;
        font-weight: 300;
      }
}
}

  @media (max-width: 425px) {
    .container05-content {

      h1 {
        font-size: 40px;
      }
  
      p {
        font-size: 16px;
      }
    }
  
  
    .earth-container {
      height: 30vh;
      
      p {
        color: $table-item-color;
        font-weight: 400;
        font-size: 14px;
        width: 300px;
        
      }
    }
  
    .right-container {
      margin-left: 24%;
      padding-top: 40%;
    }
  
    .hs-container-title {
      font-size: 50px;
      font-weight: bold;
    }
  
    .hs-container-subtitle {
      font-weight: 300;
      margin-bottom: 40px;
    }
  
    .left-container {
      margin-left: 7%;
      padding-top: 40%;
    }
  }
