.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    background-color: $black-color;

    span{
        color: $grey-color;
    }

    a{
        color: $white-color;

        &:hover{
            color: $hover-link-color;
        }
    }
}

// Responsividade

@media (max-width: 405px) {
    
    .footer {
      font-size: 10px;
    }
  }