
.header{
    font-size: 12px;
    font-weight: bold;
    
}

.logoPc{
    width: 240px;
}

// Responsividade

@media (max-width: 405px) {
    .logoPc {
      width: 150px;
      margin-top: 15px;
    }
  }

  @media (max-width: 350px) {
    .logoPc {
      width: 120px;
      margin-top: 15px;
   }
  } ;
  
