
.header{
    font-size: 14px;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px $black-color);
}

.logoPc{
    width: 240px;
}

// Responsividade

@media (max-width: 405px) {
    .logoPc {
      width: 150px;
      margin-top: 15px;
    }
  }

  @media (max-width: 350px) {
    .logoPc {
      width: 120px;
      margin-top: 15px;
   }
  } ;
  
